<%= form_with scope: :game, url: games_path, local: true do |form| %>
  <p>
    <%= form.label :enter_a_secret_key_for_your_game %><br>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>